@using Core.Constant
@model Web.Models.DepartmentsDetailViewModel
@{
    Layout = "_Layout";
}


<div class="card">
    <div class="card-header">
        <strong>@WeekofDay.weekNow. Hafta - Personel Vardiya Listesi</strong>

        <!--Today Overtime Plan-->
        <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal-xl">
            <span class="badge badge-pill badge-light mr-2"><i class="fa-regular fa-calendar-days fa-fade mr-1"></i>
                @WeekofDay.dayNow</span>Mesai Planla
        </button>
        <!--Next Week Shift Plan-->
        <button type="button" class="btn btn-primary float-right mr-2" data-toggle="modal" data-target="#modal-xl">
            <span class="badge badge-pill badge-light mr-2"><i class="fa-regular fa-calendar-days fa-fade mr-1"></i>
                @WeekofDay.weekNext. Hafta</span>Vardiya Planla
        </button>

    </div>
    <div class="card-body">
        <table id="department-table" class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Personel Ad Soyad</th>
                    <th>Departman</th>
                    <th>Servis</th>
                    <th>Durak</th>
                    <th>Vardiya</th>
                    <th>Mesai</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                    @foreach (var item in Model.GetAllWeekNowDepartmentPersonelDetailDto)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@item.Name @item.Surname</td>
                            <td>@item.DepartmanName</td>
                            <td>@item.ServiceName</td>
                            <td>@item.StationName</td>
                            @if (@item.ShiftName != null)
                            {
                                <td class="text-center"><strong>@item.ShiftName</strong></td>
                            }
                            else
                            {
                                <td class="text-center"><i class="fa-solid fa-minus fa-beat" style="color: #ff0000;"></i></td>
                            }
                            @if (@item.OvertimeName != null)
                            {
                                <td class="text-center"><strong>@item.OvertimeName</strong></td>
                            }
                            else
                            {
                                <td class="text-center"><i class="fa-solid fa-minus fa-beat" style="color: #ff0000;"></i></td>
                            }
                        </tr>
                        count++;
                    }
                }

            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Personel Ad Soyad</th>
                    <th>Departman</th>
                    <th>Servis</th>
                    <th>Durak</th>
                    <th>Vardiya</th>
                    <th>Mesai</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<!--next week shift plan modal-->
<div class="modal fade" id="modal-xl" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>@WeekofDay.weekNext. Hafta Vardiya Atanmamış Personel Listesi</strong>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form asp-controller="departments" asp-action="department_shift_add" method="post">
                <!--Shift ID Select-->
                <input hidden type="text" name="shiftID" id="shiftID" value="1"></input>
                <div class="modal-body ">
                    <table id="department-shift-table" class="table table-bordered table-hover table-sm">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th hidden></th>
                                <th>Personel Ad Soyad</th>
                                <th>Departman</th>
                                <th>Servis</th>
                                <th>Durak</th>
                                <th class="text-center"><span class="badge badge-dark">@WeekofDay.weekNow. Hafta</span>
                                </th>
                                <th class="text-center"><span class="badge badge-success">@WeekofDay.weekNext.
                                        Hafta</span>
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            @{

                                @for (int i = 0; i < Model.GetAllWeekNowDepartmentPersonelDetailDto.Count(); i++)
                                {
                                    <tr>
                                        <td class="text-center">@Html.CheckBoxFor(m=>Model.GetAllWeekNowDepartmentPersonelDetailDto[i].Check)</td>
                                        <td hidden>@Html.TextBoxFor(m=>Model.GetAllWeekNowDepartmentPersonelDetailDto[i].RegisterNo)</td>
                                        <td>@Model.GetAllWeekNowDepartmentPersonelDetailDto[i].Name @Model.GetAllWeekNowDepartmentPersonelDetailDto[i].Surname</td>
                                        <td>@Model.GetAllWeekNowDepartmentPersonelDetailDto[i].DepartmanName</td>
                                        <td>@Model.GetAllWeekNowDepartmentPersonelDetailDto[i].ServiceName</td>
                                        <td>@Model.GetAllWeekNowDepartmentPersonelDetailDto[i].StationName</td>
                                        @if (Model.GetAllWeekNowDepartmentPersonelDetailDto[i].ShiftName != null)
                                        {
                                            <td class="text-center"><small>@Model.GetAllWeekNowDepartmentPersonelDetailDto[i].ShiftName</small></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><i class="fa-solid fa-minus fa-beat"
                                            style="color: #ff0000;"></i>
                                            </td>
                                        }
                                        <td class="text-center">
                                            @{
                                                if (Model.GetAllWeekNowDepartmentPersonelDetailDto[i].ShiftID == 1)
                                                {
                                                    Model.GetAllWeekNowDepartmentPersonelDetailDto[i].NextWeekShiftID = 5;
                                                    <strong>@Model.GetAllWeekNowDepartmentPersonelDetailDto[i].NextWeekShiftID</strong>
                                                    @Html.TextAreaFor(m=>m.GetAllWeekNowDepartmentPersonelDetailDto[i].NextWeekShiftID)
                                                }
                                                else if (Model.GetAllWeekNowDepartmentPersonelDetailDto[i].ShiftID == 5)
                                                {
                                                    
                                                    Model.GetAllWeekNowDepartmentPersonelDetailDto[i].NextWeekShiftID = 6;
                                                    foreach (var item in Model.GetAllShiftList)
                                                    {
                                                        if (item.Shiftid == Model.GetAllWeekNowDepartmentPersonelDetailDto[i].NextWeekShiftID)
                                                        {
                                                            <strong class="text-center">@item.Shiftname</strong>


                                                        }
                                                    }

                                                }
                                                else if (Model.GetAllWeekNowDepartmentPersonelDetailDto[i].ShiftID == 6)
                                                {
                                                    Model.GetAllWeekNowDepartmentPersonelDetailDto[i].NextWeekShiftID = 1;
                                                    foreach (var item in Model.GetAllShiftList)
                                                    {
                                                        if (item.Shiftid == Model.GetAllWeekNowDepartmentPersonelDetailDto[i].NextWeekShiftID)
                                                        {
                                                            <strong class="text-center">@item.Shiftname</strong>

                                                        }
                                                    }
                                                }
                                                else if (Model.GetAllWeekNowDepartmentPersonelDetailDto[i].ShiftID == 2)
                                                {
                                                    Model.GetAllWeekNowDepartmentPersonelDetailDto[i].NextWeekShiftID = 2;
                                                    foreach (var item in Model.GetAllShiftList)
                                                    {
                                                        if (item.Shiftid == Model.GetAllWeekNowDepartmentPersonelDetailDto[i].NextWeekShiftID)
                                                        {
                                                            <strong class="text-center">@item.Shiftname</strong>

                                                        }
                                                    }

                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="text-center">#</th>
                                <th hidden></th>
                                <th>Personel Ad Soyad</th>
                                <th>Departman</th>
                                <th>Servis</th>
                                <th>Durak</th>
                                <th class="text-center"><span class="badge badge-dark">@WeekofDay.weekNow. Hafta</span>
                                </th>

                                <th class="text-center"><span class="badge badge-success">@WeekofDay.weekNext.
                                        Hafta</span>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success float-right">
                        <span class="badge badge-pill badge-light mr-2"><i
                                class="fa-regular fa-calendar-days fa-fade mr-1"></i>
                            @WeekofDay.weekNext. Hafta</span>Vardiya Kaydet
                    </button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>